.filter {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 101;
	background: #fff;
	padding: 20px;
	@include transform(translateY(-50%));
	text-align: center;

	@include transition(all 0.4s linear);

	.btn {
		margin-bottom: 0.25em;
		margin-top: 0.25em;
		white-space: inherit;
		text-align: left;
		font-size: 24px;
	}

	&.is-filled {
		top: 0;
		right: 400px;
		padding: 20px 10px 0 180px;
		@include transform(translateY(0));
		background: none;
		text-align: left;
		color: #fff;

		.btn {
			font-size: 16px;
		}
	}
}

	.logo {
		position: absolute;
		left: 10px;
		top: 50%;
		@include transform(translateY(-50%));

		.is-filled & {
			top: 15px;
			@include transform(translateY(0));
		}
	}
	
	.filter-text {
		.is-filled & {
			display: none;
		}
	}

	.filter-query {
		display: inline;
	}

	.query-item {
		background: #fff;
		color: $text-color;
		margin-right: 5px;
		margin-left: 5px;

		&:hover {
			background: $brand-primary;
			color: #fff;
		}
	}

.filters {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 200;
	display: none;

	&.is-active {
		display: block;
	}
}
	
	.filters-content {
		width: 90%;
		max-width: 600px;
		overflow: hidden;
		background: #ffffff;
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}

	.filters-holder {
		width: 200%;
		height: 360px;
		overflow: scroll;

		@include transition(margin-left 0.3s linear);

		&.children-shown {
			margin-left: -100%;
		}
	}

	.filters-list {
		position: relative;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li {

		}
	}

		.filters-list-children {
			display: none;

			&.is-active {
				display: block;
			}
		}

		.filters-choice {
			position: relative;
			border: none;
			border-bottom: 1px solid $border-color;
			width: 100%;
			background: none;
			text-align: left;
			padding: 10px 15px;

			&:hover {
				background: $brand-secondary;
				color: #fff;
			}

			&:focus,
			&:active {
				outline: none;
				background-image: none;
				box-shadow: none;
			}
		}

		.filters-choice-choosen { //modifier
			color: $brand-secondary;

			&:hover {
				color: #fff;
			}
		}

		.filters-choice-parent { //modifier
			&:after {
				content: '\e80f';
				font-family: 'fontello';
				position: absolute;
				right: 15px;
			}
		}