.filter {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 101;
	background: #fff;
	padding: 40px;
	@include transform(translateY(-50%));
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	@include transition(all 0.4s linear);

	.btn {
		margin-bottom: 0.5em;
		white-space: inherit;
		text-align: left;
	}

	&.is-filled {
		top: 0;
		right: 320px;
		padding: 20px 2% 0 2%;
		@include transform(translateY(0));
		box-shadow: none;
		background: none;
	}
}

	.filter-query {
		display: inline;
	}

	.query-item {
		background: #fff;
		color: $text-color;
		margin-right: 5px;
		margin-left: 5px;

		&:hover {
			background: $brand-primary;
			color: #fff;
		}
	}

.filters {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 200;
	display: none;

	&.is-active {
		display: block;
	}
}

	.filters-content {
		background: #ffffff;
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
		width: 90%;
		max-width: 600px;
		height: 500px;
		overflow: hidden;
	}

	.filters-list {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@include transition(left 0.3s linear);

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li {

		}
	}

	.filters-all {
		left: -100%;

		&.is-active {
			left: 0;
		}
	}

	.filters-list-children { //modifier
		left: 100%;

		&.is-active {
			left: 0;
		}
	}

		.filters-choice {
			position: relative;
			border: none;
			border-bottom: 1px solid $border-color;
			width: 100%;
			background: none;
			text-align: left;
			padding: 10px 15px;

			&:hover {
				background: $brand-secondary;
				color: #fff;
			}

			&:focus,
			&:active {
				outline: none;
				background-image: none;
				box-shadow: none;
			}
		}

		.filters-choice-choosen { //modifier
			color: $brand-secondary;

			&:hover {
				color: #fff;
			}
		}

		.filters-choice-parent { //modifier
			&:after {
				content: '\e80f';
				font-family: 'fontello';
				position: absolute;
				right: 15px;
			}
		}