.map-switcher {
  position: absolute;
  bottom: 10px;
  left: 50px;
  outline: none;
  
  .btn.is-active {
    background: $brand-primary;
    color: #fff;
  }
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

	@include transition(right 0.3s linear);

	.sidebar.is-active ~ & {
  	right: 400px;
	}

	.filter.is-filled ~ &:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 90px;
		content: '';
		@include background-image(linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)));
		z-index: 100;
	}
}

	.leaflet-marker-icon {
		color: #333;
	}