.map {
	height: 100%;

	@include transition(width 0.3s linear, margin-right 0.3s linear);

	.sidebar.is-active + & {
		margin-right: 400px;
	}

	.filter.is-filled + &:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 90px;
		content: '';
		@include background-image(linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)));
		z-index: 100;
	}
}