.js-map {
	height: 100%;

	@include transition(width 0.3s linear);

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		content: '';
		@include background-image(linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)));
		z-index: 100;
	}

	.sidebar.is-active + & {
		margin-right: 300px;
	}
}