<div class="row">
    <div class="col-sm-6">
        <div class="building-details-content">
            <canvas class="building-map js-building-map" height="200"></canvas>
            <div class="building-info">
                <table class="dl">
                    {{#if bouwjaar}}
                        <tr>
                            <th>Bouwjaar</th>
                            <td>{{bouwjaar}}</td>
                        </tr>
                    {{/if}}
                    {{#if gebruiksdoel}}
                        <tr>
                            <th>Gebruiksdoel</th>
                            <td>{{gebruiksdoel}}</td>
                        </tr>
                    {{/if}}
                    {{#if status}}
                        <tr>
                            <th>Status</th>
                            <td>{{status}}</td>
                        </tr>
                    {{/if}}
                </table>

                <div class="detail-block">
                    {{#if woz}}
                        <p><strong>WOZ-objecten</strong> <a href="http://bgtld-test.geostandaarden.nl/woz/def" target="_blank"><i class="icon-link-ext"></i></a></p>
                        {{#ifCond woz.length '>' 1}}
                            <button class="btn btn-primary btn-block js-show-building-subitems" data-target=".js-building-woz">In dit pand zijn {{woz.length}} WOZ-objecten geregistreerd <i class="icon-right-open"></i></button>
                        {{else}}
                            <button class="btn btn-primary btn-block js-show-building-subitems" data-target=".js-building-woz">In dit pand is 1 WOZ-object geregistreerd <i class="icon-right-open"></i></button>
                        {{/ifCond}}
                    {{else}}
                        Er zijn in dit woz-objecten geregistreerd.
                    {{/if}}
                </div>

                <div class="detail-block">
                    {{#if vestigingen}}
                        <p><strong>Vestigingen</strong></p>
                        {{#ifCond vestigingen.length '>' 1}}
                            <button class="btn btn-primary btn-block js-show-building-subitems" data-target=".js-building-organizations">In dit pand zijn {{vestigingen.length}} bedrijven gevestigd <i class="icon-right-open"></i></button>
                        {{else}}
                            <button class="btn btn-primary btn-block js-show-building-subitems" data-target=".js-building-organizations">In dit pand is 1 bedrijf gevestigd <i class="icon-right-open"></i></button>
                        {{/ifCond}}
                    {{else}}
                        Er zijn in dit pand geen bedrijven gevestigd.
                    {{/if}}
                </div>

                <div class="row row-borderless">
                    {{#if verblijfsobjecten.woonfunctie }}
                        <div class="col-sm-6"><i class="icon-woon"></i> Woning <span class="meta">({{ verblijfsobjecten.woonfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.winkelfunctie }}
                        <div class="col-sm-6"><i class="icon-winkel"></i> Winkel <span class="meta">({{ verblijfsobjecten.winkelfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.celfunctie }}
                        <div class="col-sm-6"><i class="icon-cel"></i> Cel <span class="meta">({{ verblijfsobjecten.celfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.kantoorfunctie }}
                        <div class="col-sm-6"><i class="icon-kantoor"></i> Kantoor <span class="meta">({{ verblijfsobjecten.kantoorfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.gezondheidszorgfunctie }}
                        <div class="col-sm-6"><i class="icon-gezondheidszorg"></i> Zorginstelling <span class="meta">({{ verblijfsobjecten.gezondheidszorgfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.sportfunctie }}
                        <div class="col-sm-6"><i class="icon-sport"></i> Sport <span class="meta">({{ verblijfsobjecten.sportfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.logiesfunctie }}
                        <div class="col-sm-6"><i class="icon-logies"></i> Logies <span class="meta">({{ verblijfsobjecten.logiesfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.industriefunctie }}
                        <div class="col-sm-6"><i class="icon-industrie"></i> Industrie <span class="meta">({{ verblijfsobjecten.industriefunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.bijeenkomstfunctie }}
                        <div class="col-sm-6"><i class="icon-bijeenkomst"></i> Bijeenkomst <span class="meta">({{ verblijfsobjecten.bijeenkomstfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.onderwijsfunctie }}
                        <div class="col-sm-6"><i class="icon-onderwijs"></i> Onderwijs <span class="meta">({{ verblijfsobjecten.onderwijsfunctie }})</span></div>
                    {{/if}}
                    {{#if verblijfsobjecten.overige_gebruiksfunctie }}
                        <div class="col-sm-6"><i class="icon-overige"></i> Overig <span class="meta">({{ verblijfsobjecten.overige_gebruiksfunctie }})</span></div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="building-details-content js-building-subitems js-building-organizations">
            <p><button class="btn btn-secondary js-show-building"><i class="icon-left-open"></i> Terug naar pand overzicht</button></p>
            {{#if vestigingen}}
                <ul class="list list-organizations">
                    {{#each vestigingen}}
                        <li>
                            <a href="http://dimitri.dev.freshheads.local/bgtld/api/v1/freebase/{{naam}}" class="link link-show-organization js-show-organization" data-detail-url="http://dimitri.dev.freshheads.local/bgtld/api/v1/freebase/{{naam}}">{{naam}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
        <div class="building-details-content js-building-subitems js-building-woz">
            <p><button class="btn btn-secondary js-show-building"><i class="icon-left-open"></i> Terug naar pand overzicht</button></p>
            {{#if woz}}
                <table class="dl">
                    {{#each woz}}
                        <tr>
                            <th>{{type}}</th>
                            <td>&euro; <span class="currency">{{waarde}}</span>,- <a href="http://bgtld-test.geostandaarden.nl/woz/def#waarde" target="_blank"><i class="icon-link-ext"></i></a></td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </div>
</div>