html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.meta {
  display: block;
	font-size: 12px;
	color: #666;
	margin: 0 0 10px 0;
}

.amount {
  font-size: 14px;
  color: #666;
}

.row-borderless {
	margin-left: 0;
	margin-right: 0;

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 0;
		padding-right: 0;
	}
}

.item {
	width: 330px;
}

	.item-tree {
		width: 100%;
		max-width: 600px;
	}

	.item-image {
		width: 100px;
		float: left;
	}

	.item-details {
		.item-image + & {
			margin: 0 0 0 120px;
		}
	}

.item-name {
	font-weight: bold;
	font-size: 16px;
}

.ui {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  
  .developer-mode.is-open + & {
    bottom: 35%;
  }
}

.has-popup:hover {
  position: relative;
  text-decoration: none;
  
  &:before {
    position: absolute;
    content: attr(data-title);
    background: #fff;
    bottom: 150%;
    left: 50%;
    color: #333;
    transform: translateX(-50%);
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    text-align: left;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
    border-bottom-width: 0;
    bottom: 100%;
    left: 50%;
    margin: 0 0 0 -10px; 
    z-index: 1000;     
  }
  
  &.has-popup-left {
    &:before {
      left: auto;
      right: 100%;
      bottom: auto;
      top: -10px;
      margin: 0 10px 0 0;
      transform: none;
    }
    
    &:after {
      border-top-color: transparent;
      border-bottom-width: 10px;
      border-left-color: #fff;
      border-right-width: 0;
      bottom: auto;
      left: auto;
      right: 100%;
      top: 50%;
      margin: -10px 0 0 0;
    }
  }
}